In [1]:
type("a")

str

In [2]:
a='c'
type(a)

str

In [3]:
int('133')

133

In [4]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [5]:
print("hello world")

hello world

In [6]:
print(123)

123

In [9]:
age=22
print("my age is :",age)

my age is : 22

In [11]:
print("my age is:{age}")

my age is:{age}

In [12]:
## f(format) string
print(f"my age is:{age}")

my age is:22

In [13]:
## format()
name="prajakta"
age=22
print("my name is {} and age is {}".format(name,age))

my name is prajakta and age is 22

In [14]:
## placeholder
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is prajakta and age is 22

In [15]:
name="prajakta madane"
age=22
degree="B.Sc"
"my age is 22 and i have completed: my degree of B.Sc with the name of prajakta madane"
print("my age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

my age is 22 and i have completed: my degree of B.Sc with the name of prajakta madane

In [17]:
print(f"my age is {age} and i have completed : my degree of {degree} with the name of {name}")

my age is 22 and i have completed : my degree of B.Sc with the name of prajakta madane

## control flow

In [18]:
# if statements
age=18
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [19]:
age=18
if age<18:
    print("you are not eligible to vote")

In [20]:
age=16
if age<18:
    print("you are not eligible to vote")

you are not eligible to vote

In [21]:
name=input("Enter the name")

Enter the name prajakta madane

In [22]:
name

'prajakta madane'

In [25]:
age=int(input("Enter the age"))

Enter the age 22

In [26]:
age

22

In [27]:
type(age)

int

In [37]:
# check whether age>=18 and age<=45 you are young blood
age=25
if 18<=age<=45:
   print("you are young blood")

you are young blood

In [43]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
   print("you are young blood")

Enter the age 30

you are young blood

In [44]:
## if else statement
age=int(input("Enter the age"))
if age>=18 and age<=45:
   print("you are young blood")
else:
    print("Thank you we will let you know")

Enter the age 56

Thank you we will let you know

In [48]:
## another e.g
# product>1000 rs u get 20% off 
# print the product price after removing discount
# product<=1000 rs you get 30% off
# print the product price after removing dicount
prod_price=int(input("Enter the price"))
if prod_price>1000:
    print("The price of product is {}".format(prod_price*0.8))
else:
     print("The price of product is {}".format(prod_price*0.7))

Enter the price 5000

The price of product is 4000.0

In [49]:
prod_price=int(input("Enter the price"))
if prod_price>1000:
    print(f"The price of product is {prod_price*0.8}")
else:
     print(f"The price of product is {prod_price*0.7}")

Enter the price 5000

The price of product is 4000.0

In [54]:
# product>3000 rs u get 20% off 
# print the product price after removing discount
# product>=2000 rs and <=3000 you get 30% off
# print the product price after removing dicount
# product<=1000 rs and <=2000 you get 40% off
# print the product price after removing dicount
prod_price=int(input("Enter the price"))
if prod_price>3000:
    print(f"The price of product is {prod_price*0.8}")
elif prod_price>=2000 and prod_price<=3000:
    print(f"The price of product is {prod_price*0.7}")
else:
     print(f"The price of product is {prod_price*0.6}")

Enter the price 500

The price of product is 300.0

In [57]:
# product>3000 rs u get 20% off 
# print the product price after removing discount
# product>=2000 rs and <=3000 you get 30% off
# print the product price after removing dicount
# product>=100rs and <=2000 you get 40% off
# print the product price after removing dicount
prod_price=int(input("Enter the price"))
if prod_price>3000:
    print(f"The price of product is {prod_price*0.8}")
elif prod_price>=2000 and prod_price<=3000:
    print(f"The price of product is {prod_price*0.7}")
elif prod_price>=100 and prod_price<=2000:
    print(f"The price of product is {prod_price*0.6}")
else:
     print("lets drink tea")

Enter the price 55

lets drink tea

In [65]:
#nested if 
prod_price=int(input("Enter the price"))
if prod_price>3000:
    print(f"The price of product is {prod_price*0.8}")
elif prod_price>=2000 and prod_price<=3000:
    if prod_price==2999:
         print("congrates you get an additional gift")
    print(f"The price of product is {prod_price*0.7}")
elif prod_price>=100 and prod_price<=2000:
      print(f"The price of product is {prod_price*0.6}")
else:
     print("lets drink tea")

Enter the price 2999

congrates you get an additional gift
The price of product is 2099.2999999999997

In [3]:
prod_price=int(input("Enter the price"))
if prod_price>3000:
    if prod_price==4000:
       print("congrates you get a goa trip")
    print(f"The price of product is {prod_price*0.8}")
elif prod_price>=2000 and prod_price<=3000:
    if prod_price==2999:
         print("congrates you get an additional gift")
    print(f"The price of product is {prod_price*0.7}")
elif prod_price>=100 and prod_price<2000:
      print(f"The price of product is {prod_price*0.6}")
else:
     print("lets drink tea")

Enter the price 4000

congrates you get a goa trip
The price of product is 3200.0

In [7]:
# single statement
val=int(input("Enter the number"))
if (val<=999):
        print("value is less than equal to 999")
else:
     print("Go home")

Enter the number 1200

Go home

## Loops statements
1. while loop
2. for loop
3. nested loop
4. loop control(break,continue,pass)

# while loop

In [12]:
# while loop
joining_age=40
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [13]:
### ATM machine with 1000rs
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("Put more money bank people")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people

# for loop

In [19]:
lst=["prajakta",1,2,3,"apple"]
lst

['prajakta', 1, 2, 3, 'apple']

In [15]:
type(lst)

list

In [16]:
lst[0]

'prajakta'

In [17]:
lst[4]

'apple'

In [20]:
for x in lst:
    print(x)

prajakta
1
2
3
apple

In [24]:
fruits_list=["banana","mango","apple","cherry","papaya"]
fruits_list

['banana', 'mango', 'apple', 'cherry', 'papaya']

In [25]:
for a in fruits_list:
    print(a)
    if a=="cherry":
     print(" The fruit is cherry")

banana
mango
apple
cherry
 The fruit is cherry
papaya

In [26]:
fruit="mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [27]:
fruit="mango"
for x in fruit:
    print(x,end='')

mango

In [28]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [29]:
for i in range(1,10,3):
    print(i)

1
4
7

# nested loops

In [30]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

****************************

In [31]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="\n")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [32]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [15]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
          print(end=" ")
    for j in range(0,i+1):
           print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [14]:
n=5
for i in range(0,n):
    for j in range(0,n-i-1):
          print("*",end=" ")
    print("\r")

* * * *
* * *
* *
*

In [5]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

## loop control

In [16]:
## break and continue
fruits_list=["mango","cherry","apple","papaya","banana"]

In [18]:
for i in fruits_list:
    if i=="apple":
        print("The fruit is apple")
        break 
    print(i)

mango
cherry
The fruit is apple

In [19]:
for i in fruits_list:
    if i=="apple":
        print("The fruit is apple")
        pass 
    print(i)

mango
cherry
The fruit is apple
apple
papaya
banana

In [20]:
for i in fruits_list:
    if i=="apple":
        print("The fruit is apple")
        continue 
    print(i)

mango
cherry
The fruit is apple
papaya
banana